{% extends 'layout.twig' %}

{% set title = 'View service' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>View service <small>#{{ entity.getId() }}</small></h1>
			<table class="table table-bordered table-striped">
				<tr>
					<th>#</th>
					<td>{{ entity.getId() }}</td>
				</tr>
				<tr>
					<th>Customer name</th>
					<td>{{ entity.getCustomerName() }}</td>
				</tr>
				<tr>
					<th>Estimated end</th>
					<td>{{ entity.getEstimatedEnd()|date('Y-m-d') }}</td>
				</tr>
				<tr>
					<th>Customer phone</th>
					<td>{{ entity.getCustomerPhone() }}</td>
				</tr>
				<tr>
					<th>Customer email</th>
					<td>{{ entity.getCustomerEmail() }}</td>
				</tr>
				<tr>
					<th>Created At</th>
					<td>{{ entity.getCreatedAt()|date('Y-m-d') }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Comments</h1>
			<table class="table table-bordered table-striped">
				<thead>
					<th>#</th>
					<th>Comment</th>
					<th>Author</th>
					<th>Public</th>
					<th>Commented at</th>
				</thead>
				<tbody>
					{% for comment in entity.getComments() %}
						<tr>
							<td>{{ comment.getId() }}</td>
							<td>{{ comment.getComment() }}</td>
							<td>{{ comment.getAuthor().getUsername() }}</td>
							<td>{% if comment.isInternal() %}No{% else %}Yes{% endif %}</td>
							<td>{{ comment.getCreatedAt()|date('Y-m-d') }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2>Add comment</h2>
			{{ render_form(commentForm, 'bootstrap3') }}
		</div>
	</div>
</div>
{% endblock %}
