<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if title is defined %}{{ title }} | {{ siteTitle }}{% else %}{{ siteTitle }}{% endif %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		{% block stylesheet %}
			<link href="{{ rootPath }}/assets/css/bootstrap.min.css" rel="stylesheet">
		{% endblock %}
	</head>

	<body>
		{% block body %}{% endblock %}

		{% block javascript %}
			<script src="{{ rootPath }}/assets/js/jquery.min.js"></script>
			<script src="{{ rootPath }}/assets/js/bootstrap.min.js"></script>
		{% endblock %}
	</body>
</html>
